.table{
    background-color: lightgrey;
}

.table__header-row{
    background-color: grey;
}

.table__header{
    padding: 5px 15px;
    cursor: default;
}

.table__header-filter{
    margin-left: 10px;
    cursor: pointer;
}

.table__data-value{
    padding: 5px;
}