/*Entire component*/
.component-container{
    display: flex;
    flex-wrap: wrap;
}

/*Table only*/
.table{
    background-color: lightgrey;
    width: 100%;
}

.table__header-row{
    background-color: grey;
}

.table__header{
    padding: 5px 15px;
    cursor: default;
}

.table__header-filter{
    margin-left: 10px;
    cursor: pointer;
}

.table__data-value{
    padding: 5px;
}


/*Drop-down styles*/
.Dropdown-root {
    position: relative;
    width: 70px;
}

.Dropdown-control {
position: relative;
overflow: hidden;
background-color: white;
border: 1px solid #ccc;
border-radius: 2px;
box-sizing: border-box;
color: #333;
cursor: default;
outline: none;
padding: 8px 52px 8px 10px;
transition: all 200ms ease;
}

.Dropdown-control:hover {
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
border-color: #999 transparent transparent;
border-style: solid;
border-width: 5px 5px 0;
content: ' ';
display: block;
height: 0;
margin-top: -ceil(2.5);
position: absolute;
right: 10px;
top: 14px;
width: 0
}

.is-open .Dropdown-arrow {
border-color: transparent transparent #999;
border-width: 0 5px 5px;
}

.Dropdown-menu {
background-color: white;
border: 1px solid #ccc;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
box-sizing: border-box;
margin-top: -1px;
max-height: 200px;
overflow-y: auto;
position: absolute;
top: 100%;
width: 100%;
z-index: 1000;
-webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
padding: 8px 10px;
color: rgba(51, 51, 51, 1);
font-weight: bold;
text-transform: capitalize;
}

.Dropdown-option {
box-sizing: border-box;
color: rgba(51, 51, 51, 0.8);
cursor: pointer;
display: block;
padding: 8px 10px;
}

.Dropdown-option:last-child {
border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
background-color: #f2f9fc;
color: #333;
}

.Dropdown-option.is-selected {
background-color: #f2f9fc;
color: #333;
}

.Dropdown-noresults {
box-sizing: border-box;
color: #ccc;
cursor: default;
display: block;
padding: 8px 10px;
}

.dropdown__container{
    display: flex;
    align-items: center;
}

.dropdown__container p{
    margin-left: 5px;
    margin-right: 5px;
}

/*Number of pages*/
.number-of-pages__button{
    cursor: pointer;
    margin-left: 5px;
}

/*table footer*/
.table-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}